.home{
    display: grid;
    grid-template-columns: 4fr 2fr;
}
.yoga-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.activity-container{
    
    
    
    height: 550px;
    text-align: center;
    margin-left: 60px;
    
    
    
}
@media screen and (max-width: 768px) {
    .home{
        display: grid;
        grid-template-columns: 1fr;
        
    }
    .yoga-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .activity-container{
    
        
        text-align: center;
        margin-top: 30px;
        margin-left: 0;
}
}
/* @media screen and (max-width: 768px) {
    .yoga-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap:0px;
    }  
} */