 .header{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 15px;
    margin-left: 5%;
} 
 .header-logo img {
    height: 80px;
    width: 80px;
} 
.header-title{
    font-size: 25px;
    color:#7cc18e;
}